@model IEnumerable<p_bd1_proveedores_cuentas_por_pagar.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>EMPLEADOS</h1>
<hr />

<div style="margin-top: 80px; margin-bottom: 80px;">
    <h2 style="color:gray">Empleados Activos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID_EMPLEADO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NOMBRE_PERSONA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.APELLIDO_PERSONA)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(x => x.STATUS == "ACTIVO"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_EMPLEADO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NOMBRE_PERSONA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.APELLIDO_PERSONA)
                    </td>
                    <td>
                        @Html.ActionLink("Puesto", "index", "puestoempleado", new { id = item.ID_EMPLEADO }) |
                        @Html.ActionLink("Detalles", "details", new { id = item.ID_EMPLEADO }) |
                        @Html.ActionLink("Inactivar", "inactivar", new { id = item.ID_EMPLEADO })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div style="margin-top: 80px; margin-bottom: 80px; background-color: rgb(245,245,245)">
    <h2 style="color:gray">Empleados Inactivos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID_EMPLEADO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NOMBRE_PERSONA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.APELLIDO_PERSONA)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(x => x.STATUS == "INACTIVO"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_EMPLEADO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NOMBRE_PERSONA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.APELLIDO_PERSONA)
                    </td>
                    <td>
                        @Html.ActionLink("Activar", "activar", new { id = item.ID_EMPLEADO })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
