@model IEnumerable<p_bd1_proveedores_cuentas_por_pagar.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_DEPARTAMENTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_PAIS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE_DEPARTAMENTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE_PAIS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_DEPARTAMENTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_PAIS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE_DEPARTAMENTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE_PAIS)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID_DEPARTAMENTO }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_DEPARTAMENTO })
            </td>
        </tr>
}
    </tbody>
</table>
