@model IEnumerable<p_bd1_proveedores_cuentas_por_pagar.Models.Tipo_cuenta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_TIPO_CUENTA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIPO_CUENTA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_TIPO_CUENTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIPO_CUENTA)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID_TIPO_CUENTA }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_TIPO_CUENTA })
            </td>
        </tr>
}
    </tbody>
</table>
