@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PROVEEDORES Y CUENTAS POR PAGAR</h1>
    <p>Prototipo para operaciones CRUD con la base de datos ORACLE.</p>
    <hr />

</div>

<h4>Catalogos</h4>
<ul>
    <li>@Html.ActionLink("Tipo de proveedor", "index", "tipoproveedor")</li>
    <li>@Html.ActionLink("Puesto", "index", "puesto")</li>
    <li>@Html.ActionLink("Forma de pago", "index", "formapago")</li>
    <li>@Html.ActionLink("Tipo de sucursal", "index", "tiposucursal")</li>
    <li>@Html.ActionLink("Tipo de cuenta", "index", "tipocuenta")</li>

</ul>

<h4>Personas</h4>
<ul>
    <li>@Html.ActionLink("Personas", "index", "persona")</li>
    <li>@Html.ActionLink("Proveedores", "index", "proveedor")</li>
    <li>@Html.ActionLink("Empleados", "index", "empleado")</li>

</ul>


<hr />
<h4>Administrar direcciones</h4>
<ul>
    <li>@Html.ActionLink("Paises", "index", "pais")</li>
    <li>@Html.ActionLink("Departamentos", "index", "departamento")</li>
    <li>@Html.ActionLink("Municipios", "index", "municipio")</li>
    <li>@Html.ActionLink("Zonas", "index", "zona")</li>
    <li>@Html.ActionLink("Direcciones", "index", "direccion")</li>
</ul>

<h4>Bodega</h4>
<ul>
    <li>@Html.ActionLink("Recepcion de productos", "index", "pais")</li>
    <li>@Html.ActionLink("Existencias", "index", "pais")</li>

</ul>


<h4>Compras</h4>
<ul>
    <li>@Html.ActionLink("Productos", "index", "pais")</li>
    <li>@Html.ActionLink("Ordenes de compra", "index", "pais")</li>
    <li>@Html.ActionLink("Servicios", "index", "departamento")</li>
    <li>@Html.ActionLink("Facturas de proveedores", "index", "municipio")</li>
</ul>

<h4>Contabilidad</h4>
<ul>
    <li>@Html.ActionLink("Cuentas por pagar", "index", "pais")</li>

</ul>