@model IEnumerable<p_bd1_proveedores_cuentas_por_pagar.Models.Pais>

@{
    ViewData["Title"] = "Listar";
}

<h1>Listar</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_PAIS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE_PAIS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_PAIS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE_PAIS)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.ID_PAIS  }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_PAIS })
            </td>
        </tr>
}
    </tbody>
</table>
